/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Font Families */
/* Main colors */
body {
  font-family: "Roboto";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__icon {
  position: absolute;
  left: 20px;
  font-size: 20px;
}

footer {
  background-color: #353535;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 20px 20px 0px 20px;
}

footer .footer__logo {
  font-family: "Shrikhand", cursive !important;
  font-size: 20px;
}

footer .footer__menu {
  font-size: 16px;
}

footer .footer__menu ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

footer .footer__menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.btn {
  padding: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.btn--gradient {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  font-weight: bold;
}

.btn--gradient:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

.link-no-style--white {
  text-decoration: none;
}

.link-no-style--white:visited, .link-no-style--white:-webkit-any-link {
  color: white;
}

.link-no-style--white:visited, .link-no-style--white:-moz-any-link {
  color: white;
}

.link-no-style--white:visited, .link-no-style--white:any-link {
  color: white;
}

.link-no-style--black {
  text-decoration: none;
}

.link-no-style--black:visited, .link-no-style--black:-webkit-any-link {
  color: black;
}

.link-no-style--black:visited, .link-no-style--black:-moz-any-link {
  color: black;
}

.link-no-style--black:visited, .link-no-style--black:any-link {
  color: black;
}

.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  font-size: 30px;
  -webkit-animation-name: overlay-container;
          animation-name: overlay-container;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: white;
}

.loader .loader-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.loader .loader-card #utensils {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.loader .loader-card #ohmyfood span {
  display: inline-block;
  font-family: "Shrikhand", cursive;
  -webkit-animation: text-loader 1.5s infinite alternate;
          animation: text-loader 1.5s infinite alternate;
}

.loader .loader-card #ohmyfood span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader .loader-card #ohmyfood span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader .loader-card #ohmyfood span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader .loader-card #ohmyfood span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader .loader-card #ohmyfood span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader .loader-card #ohmyfood span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader .loader-card #ohmyfood span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loader .loader-card #ohmyfood span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
