/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Font Families */
/* Main colors */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__icon {
  position: absolute;
  left: 20px;
  font-size: 20px;
}

footer {
  background-color: #353535;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 20px 20px 0px 20px;
}

footer .footer__logo {
  font-family: "Shrikhand", cursive !important;
  font-size: 20px;
}

footer .footer__menu {
  font-size: 16px;
}

footer .footer__menu ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

footer .footer__menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.btn {
  padding: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.btn--gradient {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  font-weight: bold;
}

.btn--gradient:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

.link-no-style--white {
  text-decoration: none;
}

.link-no-style--white:visited, .link-no-style--white:-webkit-any-link {
  color: white;
}

.link-no-style--white:visited, .link-no-style--white:-moz-any-link {
  color: white;
}

.link-no-style--white:visited, .link-no-style--white:any-link {
  color: white;
}

.link-no-style--black {
  text-decoration: none;
}

.link-no-style--black:visited, .link-no-style--black:-webkit-any-link {
  color: black;
}

.link-no-style--black:visited, .link-no-style--black:-moz-any-link {
  color: black;
}

.link-no-style--black:visited, .link-no-style--black:any-link {
  color: black;
}

hr {
  width: 100%;
  border: none;
}

.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  font-size: 30px;
  -webkit-animation-name: overlay-container;
          animation-name: overlay-container;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: white;
}

.loader .loader-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.loader .loader-card #utensils {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.loader .loader-card #ohmyfood span {
  display: inline-block;
  font-family: "Shrikhand", cursive;
  -webkit-animation: text-loader 1.5s infinite alternate;
          animation: text-loader 1.5s infinite alternate;
}

.loader .loader-card #ohmyfood span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader .loader-card #ohmyfood span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader .loader-card #ohmyfood span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader .loader-card #ohmyfood span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader .loader-card #ohmyfood span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader .loader-card #ohmyfood span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader .loader-card #ohmyfood span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loader .loader-card #ohmyfood span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

/* Imports */
/* Font Families */
/* Main colors */
body {
  font-family: "Roboto";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__icon {
  position: absolute;
  left: 20px;
  font-size: 20px;
}

footer {
  background-color: #353535;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 20px 20px 0px 20px;
}

footer .footer__logo {
  font-family: "Shrikhand", cursive !important;
  font-size: 20px;
}

footer .footer__menu {
  font-size: 16px;
}

footer .footer__menu ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

footer .footer__menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.btn {
  padding: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.btn--gradient {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(#9356dc, #ff79da);
  font-weight: bold;
}

.btn--gradient:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

.link-no-style--white {
  text-decoration: none;
}

.link-no-style--white:visited, .link-no-style--white:-webkit-any-link {
  color: white;
}

.link-no-style--white:visited, .link-no-style--white:-moz-any-link {
  color: white;
}

.link-no-style--white:visited, .link-no-style--white:any-link {
  color: white;
}

.link-no-style--black {
  text-decoration: none;
}

.link-no-style--black:visited, .link-no-style--black:-webkit-any-link {
  color: black;
}

.link-no-style--black:visited, .link-no-style--black:-moz-any-link {
  color: black;
}

.link-no-style--black:visited, .link-no-style--black:any-link {
  color: black;
}

hr {
  width: 100%;
  border: none;
}

.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  font-size: 30px;
  -webkit-animation-name: overlay-container;
          animation-name: overlay-container;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: white;
}

.loader .loader-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.loader .loader-card #utensils {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.loader .loader-card #ohmyfood span {
  display: inline-block;
  font-family: "Shrikhand", cursive;
  -webkit-animation: text-loader 1.5s infinite alternate;
          animation: text-loader 1.5s infinite alternate;
}

.loader .loader-card #ohmyfood span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader .loader-card #ohmyfood span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader .loader-card #ohmyfood span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader .loader-card #ohmyfood span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader .loader-card #ohmyfood span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader .loader-card #ohmyfood span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader .loader-card #ohmyfood span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loader .loader-card #ohmyfood span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes slide-up {
  from {
    margin-top: 2%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    margin-top: 2%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes overlay-container {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
  }
}

@keyframes overlay-container {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
  }
}

@-webkit-keyframes text-loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes text-loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
}

.localisation .icon {
  margin-right: 10px;
}

.localisation__title {
  font-weight: bold;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 30px;
  background-color: #f6f6f6;
  padding: 40px 30px 40px 30px;
}

.how-to {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.steps {
  padding: 25px;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f6f6f6;
}

.steps:hover {
  background-color: #f5edff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.steps:hover .steps__icon {
  color: #9356dc;
}

.steps .steps__bullet {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  background-color: #9356dc;
  color: white;
}

.steps .steps__icon {
  padding-right: 25px;
  font-size: 20px;
  padding-left: 10px;
}

.steps .steps__label {
  font-size: 20px;
  font-weight: bold;
}

.restaurants-list {
  background-color: #f6f6f6;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.card {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 320px;
  position: relative;
}

.card a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.card .card__thumbnail {
  height: 200px;
}

.card .card__thumbnail .thumbnail__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 320px;
  border-radius: 20px 20px 0px 0px;
}

.card .card__thumbnail .thumbnail__tag {
  position: relative;
  top: -180px;
  left: 230px;
  padding: 8px;
  background-color: #99e2d0;
  color: #00835e;
  border-radius: 2px;
  font-weight: bold;
}

.card .card__thumbnail .thumbnail__tag--hidden {
  display: none;
}

.card .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
}

.card .card__content .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.card .card__content .description .title {
  font-weight: bold;
  font-size: 18px;
}

.card .card__content .description .location {
  font-weight: lighter;
  font-size: 12px;
}

.fav {
  font-size: 25px;
  z-index: 1;
}

.fav .far:hover:before {
  font-weight: 900;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), color-stop(72%, #ff79da));
  background: linear-gradient(180deg, #9356dc 0%, #ff79da 72%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.title {
  font-weight: bold;
  font-size: 24px;
}

/* Menu styles */
.menu__img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__container {
  position: relative;
  margin-top: -50px;
  border-radius: 40px 40px 0px 0px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px 30px 30px;
}

.menu__container .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__container .head .title {
  font-family: "Shrikhand", cursive !important;
}

.menu__container .meal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.menu__container .meal-list .meal-step {
  margin-top: 30px;
  margin-bottom: 5px;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.menu__container .meal-list .meal-step:after {
  display: block;
  content: "";
  width: 50%;
  margin-top: 5px;
  height: 3px;
  background: #99e2d0;
  position: relative;
  bottom: 0;
  left: 0;
}

.menu__container .meal-list .meal-card {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slide-up;
          animation-name: slide-up;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
  gap: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 200px;
}

.menu__container .meal-list .meal-card span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__container .meal-list .meal-card .meal-card__name {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-weight: bold;
  padding: 10px 10px 0px 10px;
}

.menu__container .meal-list .meal-card .meal-card__recipe {
  font-size: 14px;
  display: block;
  padding: 0px 0px 0px 10px;
}

.menu__container .meal-list .meal-card .meal-card__price {
  font-weight: bold;
  padding: 0px 10px 10px 10px;
}

.menu__container .meal-list .meal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__container .meal-list .meal-container:hover .select-bar {
  width: 50px;
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu__container .meal-list .meal-container:hover .select-bar .fa-check-circle {
  opacity: 1;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu__container .meal-list .meal-container .select-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  position: relative;
  right: 10px;
  width: 10px;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5px;
}

.menu__container .meal-list .meal-container .select-bar .fa-check-circle {
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
}
