/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Font Families */
$primary-font: "Shrikhand", cursive;
$secondary-font: "Roboto";

/* Main colors */

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$tag-background-color: #99e2d0;
$tag-text-color: #00835e;

$footer-color: #353535;

$primary-background-color: #eaeaea;
$secondary-background-color: #f6f6f6;

body {
  font-family: $secondary-font;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  .header__logo {
    display: flex;
  }
  .header__icon {
    position: absolute;
    left: 20px;
    font-size: 20px;
  }
}

footer {
  background-color: $footer-color;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 20px 0px 20px;
  .footer__logo {
    font-family: $primary-font !important;
    font-size: 20px;
  }
  .footer__menu {
    font-size: 16px;
    ul {
      list-style-type: none;
      padding-inline-start: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }
}

.btn {
  padding: 15px;
  align-self: center;
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  &--gradient {
    color: white;
    background-image: linear-gradient($primary-color, $secondary-color);
    font-weight: bold;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    }
  }
}

.link-no-style {
  &--white {
    text-decoration: none;
    &:visited,
    &:any-link {
      color: white;
    }
  }
  &--black {
    text-decoration: none;
    &:visited,
    &:any-link {
      color: black;
    }
  }
}
