/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Font Families */
$primary-font: "Shrikhand", cursive;
$secondary-font: "Roboto";

/* Main colors */

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$tag-background-color: #99e2d0;
$tag-text-color: #00835e;

$footer-color: #353535;

$primary-background-color: #eaeaea;
$secondary-background-color: #f6f6f6;

body {
  font-family: $secondary-font;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  .header__logo {
    display: flex;
  }
  .header__icon {
    position: absolute;
    left: 20px;
    font-size: 20px;
  }
}

footer {
  background-color: $footer-color;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 20px 0px 20px;
  .footer__logo {
    font-family: $primary-font !important;
    font-size: 20px;
  }
  .footer__menu {
    font-size: 16px;
    ul {
      list-style-type: none;
      padding-inline-start: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }
}

.btn {
  padding: 15px;
  align-self: center;
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  &--gradient {
    color: white;
    background-image: linear-gradient($primary-color, $secondary-color);
    font-weight: bold;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
    }
  }
}

.link-no-style {
  &--white {
    text-decoration: none;
    &:visited,
    &:any-link {
      color: white;
    }
  }
  &--black {
    text-decoration: none;
    &:visited,
    &:any-link {
      color: black;
    }
  }
}

.loader {
  position: fixed; /* Sit on top of the page content */
  align-items: center;
  display: flex;
  justify-content: center;
  width: fit-content; /* Full width (cover the whole page) */
  height: fit-content; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  width: 100%;
  height: 100%;
  font-size: 30px;
  animation-name: overlay-container;
  animation-duration: 0s;
  animation-delay: 3s;
  background-color: rgba(0, 0, 0, 0.5);
  .loader-card {
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    #utensils {
      width: fit-content;
      animation-name: spin;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
    #ohmyfood {
      span {
        display: inline-block;
        font-family: $primary-font;
        animation: text-loader 1.5s infinite alternate;
        @for $i from 1 through 8 {
          &:nth-child(#{$i + 1}) {
            animation-delay: #{$i * 0.1}s;
          }
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes overlay-container {
  to {
    width: 0;
    height: 0;
  }
}

@keyframes text-loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
