@import "common.scss";
@import "anim.scss";

.localisation {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  background-color: $primary-background-color;
  .icon {
    margin-right: 10px;
  }
  &__title {
    font-weight: bold;
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  background-color: $secondary-background-color;
  padding: 40px 30px 40px 30px;
}

.how-to {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.steps {
  padding: 25px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: $secondary-background-color;
  &--active {
    background-color: #f5edff;
  }
  .steps__bullet {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    background-color: $primary-color;
    color: white;
  }
  .steps__icon {
    padding-right: 25px;
    font-size: 20px;
    padding-left: 10px;
    &--active {
      color: $primary-color;
    }
  }
  .steps__label {
    font-size: 20px;
    font-weight: bold;
  }
}

.restaurants-list {
  background-color: $secondary-background-color;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  align-self: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 320px;
  position: relative;
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .card__thumbnail {
    height: 200px;
    .thumbnail__img {
      object-fit: cover;
      height: 200px;
      width: 320px;
      border-radius: 20px 20px 0px 0px;
    }
    .thumbnail__tag {
      position: relative;
      top: -180px;
      left: 230px;
      padding: 8px;
      background-color: $tag-background-color;
      color: $tag-text-color;
      border-radius: 2px;
      font-weight: bold;
      &--hidden {
        display: none;
      }
    }
  }
  .card__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    .description {
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 5px;
      .title {
        font-weight: bold;
        font-size: 18px;
      }
      .location {
        font-weight: lighter;
        font-size: 12px;
      }
    }
  }
}

.fav {
  font-size: 25px;
  z-index: 1;
  .far:hover:before {
    font-weight: 900;
    background: linear-gradient(
      180deg,
      rgba(147, 86, 220, 1) 0%,
      rgba(255, 121, 218, 1) 72%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.title {
  font-weight: bold;
  font-size: 24px;
}

/* Menu styles */

.menu {
  &__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  &__container {
    position: relative;
    margin-top: -50px;
    border-radius: 40px 40px 0px 0px;
    background-color: $primary-background-color;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 30px;
    .head {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .title {
        font-family: $primary-font !important;
      }
    }
    .meal-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 30px;
      .meal-step {
        margin-top: 30px;
        margin-bottom: 5px;
        display: inline-block;
        width: fit-content;
        &:after {
          display: block;
          content: "";
          width: 50%;
          margin-top: 5px;
          height: 3px;
          background: $tertiary-color;
          position: relative;
          bottom: 0;
          left: 0;
        }
      }
      .meal-card {
        animation-duration: 2s;
        animation-name: slide-up;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        border-radius: 10px;
        gap: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 1;
        flex: 1;
        min-width: 200px;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .meal-card__name {
          flex-basis: 100%;
          font-weight: bold;
          padding: 10px 10px 0px 10px;
        }
        .meal-card__recipe {
          font-size: 14px;
          display: block;
          padding: 0px 0px 0px 10px;
        }
        .meal-card__price {
          font-weight: bold;
          padding: 0px 10px 10px 10px;
        }
      }
      .meal-container {
        display: flex;
        &:hover .select-bar {
          width: 50px;
          opacity: 1;
          transition: all 1s;
        }
        &:hover .select-bar .fa-check-circle {
          opacity: 1;
          transform: rotate(360deg);
        }
        .select-bar {
          display: flex;
          background-color: $tertiary-color;
          border-radius: 0px 15px 15px 0px;
          position: relative;
          right: 10px;
          width: 10px;
          opacity: 0;
          transition: all 1s;
          align-items: center;
          justify-content: center;
          .fa-check-circle {
            color: white;
            transition: all 1s;
            opacity: 0;
          }
        }
      }
    }
  }
}
