@media screen and (min-width: 992px) {
  .how-to {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .steps {
      .steps__bullet {
        position: relative;
        left: -40px;
        width: fit-content;
        padding: 0px 10px 0px 10px;
      }
    }
  }
  .meal-container {
    display: flex;
    &:hover .select-bar {
      width: 150px;
    }
    .select-bar {
      width: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .restaurants-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .title {
      flex-basis: 100%;
    }
  }

  .menu__container {
    padding: 30px 60px 30px 60px;
  }
}
